
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
   }

header{
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 95vh;
    color:whitesmoke;
   
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    padding: 10vh 2vw 0px ;
}
.cabecera{
    display: flex;
    width: 95%;
    height: 55%;
    justify-content: space-between;
    color:whitesmoke;
    margin: 2vw 0px 2vw;
   /* padding: 70px 0px;*/
    font-family:  sans-serif;
    font-size: 1.1em;
  }  
 
nav a{

    color: rgb(216, 216, 216);
    margin-left: 2vw;
    text-decoration: none;
    font-size: large;
}

.textoHeader{
    color: whitesmoke;
    font-size:xx-large;
    margin: 0% 0% 0% 5vw;
    font-weight: 700;

}
.otroTitulo{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-stretch:narrower;
    color:rgb(92, 91, 91);
    font-weight: 300;
}
.titNosotros {
color: blueviolet;
}

.padreAnuncios{
    display: flex;
    background-color:indigo;
    flex-direction:row;
    justify-content:space-around;
    width:80%;
    height: 50%;
    margin: 1vh 10vw 1vh 10vw;
}

.contenedorAnuncio{
background-color:lawngreen;
width: 32%;
height: 48vh;
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;
}
.titAnuncios{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-stretch:normal;
    color:rgb(92, 91, 91);
    font-weight: 700;
}
.contenedorAnuncio p{
    text-align: center;

}
.padreAnunciosLargos{
    display: flex;
    background-color:rgb(21, 59, 226);
    flex-direction:row;
    justify-content:space-around;
    width:80%;
    height: 90%;
    margin: 1vh 10vw 1vh 10vw;
}
.imagenAnuncio{
    width: 25.1vw;
    height:35vh;

}
.titAnuncios2{
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-stretch:ultra-expanded;
    color:rgb(92, 91, 91);
    font-weight: 300;
}
.contenedorAnuncio2{
    background-color:lawngreen;
    width: 32%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    }
.precio{
    font-family: sans-serif;
    font-size: 0.8vw;
    color:green;
}